<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://thauber.github.io/CabinDrive/DriverApp.ipa</string>
		<key>displayImageURL</key>
		<string>https://thauber.github.io/CabinDrive/Icon57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://thauber.github.io/CabinDrive/Icon512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.thauber.contracting.ridecabin.CabinDrive</key>
		<string>Cabin Test Profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>80C51AF5662C8EA5F07098862B507B13F6AB11D2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>YL8V6Q58L2</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
